.advantages	{
	font-size: 120%;
}

#secure_shopping {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/secure_shopping.jpg");
	background-size: cover;
	margin-bottom: 0px;
}

.page-footer {
	background-image: linear-gradient(to bottom, #ff6f607f 0%, #e53935ff 100%);
}

#secure_shopping p,
#secure_shopping h1,
#secure_shopping h3 {
	color: white;
	text-align: center;
}

.brand-logo	{
	margin-left: 12px;
}

.features {
	transition: 0.5s;
	overflow: hidden;
}

.features:hover {
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}