#login_container{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
}

#footer_login{
     flex: 1 0 auto;
}

.page-footer {
	background-image: linear-gradient(to bottom, #ff6f607f 0%, #e53935ff 100%);
}

.brand-logo	{
	margin-left: 12px;
}