.advantages	{
	font-size: 120%;
}

.user{
	font-size: 130%;
    font-weight:800;
}

#secure_shopping {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/secure_shopping.jpg");
	background-size: cover;
	margin-bottom: 0px;
}

.page-footer {
	background-image: linear-gradient(to bottom, #ff6f607f 0%, #e53935ff 100%);
}

#secure_shopping p,
#secure_shopping h1,
#secure_shopping h3 {
	color: white;
	text-align: center;
}

.brand-logo,
#first_breadcrumb 	{
	margin-left: 12px;
}

hr {
	font-size: 1px;
	display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #9e9e9e;
    padding: 0; 
	border-color: #9e9e9e;
	background-color: #9e9e9e;
}

.breadcrumb:before {
	color:  #ec407a;
	text-align: center;
}

#content {
	margin-top: 62px;
}

.card-title {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}

p {
	color: #484848;
}